/*@import url(http://fonts.googleapis.com/css?family=Oswald:700);*/

@font-face {
		font-family: 'BebasNeueRegular';
		src: url('../fonts/BebasNeue-webfont.eot');
		src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/BebasNeue-webfont.woff') format('woff'),
				 url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
				 url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
		font-weight: normal;
		font-style: normal;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
	font-family: SEASRN__;
	src: url('../fonts/SEASRN__.ttf'); /* IE9 */
}

@font-face {
	font-family: FFF_Tusj;
	src: url('../fonts/FFF_Tusj.ttf'); /* IE9 */
}

@font-face {
	font-family: GreatVibes-Regular;
	src: url('../fonts/GreatVibes-Regular.otf'); /* IE9 */
}

@font-face {
	font-family: Bariol_Regular;
	src: url('../fonts/Bariol_Regular.otf'); /* IE9 */
}

@font-face {
	font-family: Oswald-Regular;
	src: url('../fonts/Oswald-Regular.otf'); /* IE9 */
}



@font-face {
	font-family: ostrich_bold;
	src: url('../fonts/ostrich-bold.ttf'); /* IE9 */
}

@font-face {
	font-family: onramp;
	src: url('../fonts/ONRAMP.ttf'); /* IE9 */
}

@font-face {
	font-family: track;
	src: url('../fonts/Track.ttf'); /* IE9 */
}

@font-face {
	font-family: opensans-regular;
	src: url('../fonts/OpenSans-Regular.ttf'); /* IE9 */
}

@font-face {
	font-family: opensans-semibold;
	src: url('../fonts/OpenSans-Semibold.ttf'); /* IE9 */
}

@font-face {
	font-family: BadMofo;
	src: url('../fonts/BadMofo.ttf'); /* IE9 */
}

@font-face {
	font-family: bullpen;
	src: url('../fonts/bullpen_3d.ttf'); /* IE9 */
}

@font-face {
	font-family: plakativ;
	src: url('../fonts/plakativ.ttf'); /* IE9 */
}

@font-face {
	font-family: FLASHBACKVERSION;
	src:url('../fonts/FLASHBACKVERSION3.TTF');
}

@font-face {
	font-family: EraserRegular;
	src:url('../fonts/EraserRegular.ttf');
}

body {
		background: #fff url() no-repeat right top;
		background-size: cover;
		background-attachment: fixed;
		color: #666e70;
		font-family:"opensans-regular", Georgia,Serif;
		font-size: 13px;
		line-height: 1.6em;
		overflow-x:hidden;
		padding: 0px;
}

.container {
	
}

a {
		color: #fca704;
}

a:hover {
	color: #5C5C5C;
	text-decoration: none;
	background: transparent !important;
}

.center {
		text-align: center !important;
}

.section {
	background: #FFF;
	display: block;
	min-height: 200px;
	/**padding: 150px 0 50px 0;**/
	padding: 50px 0 50px 0;
}

.title-section {
		display: block;
		font-size: 1.5em;
		padding-top: 130px;
		padding-bottom: 50px;
		text-align: center;
}

.title-section div {
		text-align: center;
}

.title-section div.line {
		border-bottom: 2px solid #fca704;
		color: #fca704;
		display: inline-block;
		font-weight: bold;
		margin-bottom: 5px;
		text-transform: uppercase;
}

.title-section .text-mute {
		color: #aaa;
		font-size: 0.8em;
}

.title-section2-container {
		margin: 0px 0 50px 0;
}

.title-section2 {
		display: inline-block;
		font-size: 3em;
		font-family: 'BebasNeueRegular';
		position: relative;
		line-height: .9;
		color:#FCA704;
}

.title-section2 span {
		border-bottom: 4px solid #fca704;
		font-size: 0.7em;
		vertical-align: top;
		line-height: 0.7em;
		padding: 0px;
		position: relative;
		top: -6px;
		right: 0px;
}

.title-section2.inverse {
		color: #fff;
}

.title-section2.inverse span {
		border-color: #666;
}

.text-mute {
		color: #ababab;
}

.text-smoke {
		color:#e0e0e0;
}

.text-black {
		color: #111;
}

.text-bigger {
		font-size: 2em;
}

.text-10x {
		font-size: 10em !important;
}

.no-padding {
		margin: 0px;
		padding: 0px;
}

.nivo-caption {
		opacity: 1 !important;
}

#trigger {
		position: fixed;
		top:90%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding:0px !important;
	margin: 0px !important;
	z-index: 20;
}

.display {
		display: block;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-right: 0;
}

.navbar {
		border-radius: 0px;
		padding-left: 15px;
		padding-right: 15px;
		height: 70px;

		webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
}

#navbar-info {
		background: #fff;
		border-bottom: 1px solid #f1f1f1;
		color: #666e70;
		font-family: 'BebasNeueRegular';
		font-size: 1em;
		height: 35px;
		display: none;
		padding: 0px 40px;

		webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
}

#navbar-info.active {
		display: block;
}

.navbar-info-item {
		display: inline-block;
		height: 35px;
		padding: 0 10px 0 0px;
}

.navbar-info-icon {
		border-left: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		display: inline-block;
		height: 35px;
		margin-right: 10px;
		padding: 8px 8px 8px 8px !important;
}

.navbar.color-full {
		background: #FFF;
		border-bottom: 1px solid #F1F1F1;

		webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
}

.nav.navbar-nav li {
	padding-top: 10px;
	position: relative;
}

.nav.navbar-nav li a {
	color: #666e70 !important;
	font-family: 'BebasNeueRegular';
	font-size: 1.2em !important;
	text-transform: uppercase;
	text-shadow:1px 1px 1px rgba(0,0,0,0);
	position: relative;
}



.nav.navbar-nav li.current a, .nav.navbar-nav.small-nav li.current a, .nav.navbar-nav.small-nav li a:hover {
	background: transparent;
	color: #fca704 !important;
}

.navbar-brand {
		padding: 10px;
		text-align: center;
		font-weight: bold;
		font-family: 'BebasNeueRegular';
}

.navbar-brand a {
		color: #fca704;
}

.navbar-brand .fa-circle {
		color: transparent;
}

#nav-section {
	display: inline-block;
	padding: 0px;
	position: fixed;
	right: 20px;
	top: 50%;
}

#nav-section li {
	background: rgba(0,0,0,0.5);
	font-family: 'Arial';
	font-size: 1.5em;
	font-weight: bold;
	height: 10px;
	margin-bottom: 5px;
	list-style: none;
	width: 10px;
	
}

#nav-section li a {
	color: #FFF;
}

.logo {
		background: #fca704;
		color: #222;
		display: inline-block;
		font-size: 2em;
}

/* Effect 5: same word slide in */
.cl-effect-5 a.hover-effect {
	overflow: hidden;
}

.cl-effect-5 a.hover-effect span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.s;
	transition: transform 0.2s;
}

.cl-effect-5 a.hover-effect.hover-effect span:before {
	position: absolute;
	top: 35px;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a.hover-effect:hover span,
.cl-effect-5 a.hover-effect:focus span {
	-webkit-transform: translateY(-35px);
	-moz-transform: translateY(-35px);
	transform: translateY(-35px);
}

.btn-main {
		color: #FFF !important;
		background: #fca704 !important;
}

.text-bold {
		font-weight: bold;
}

.text-semibold {
		font-family: 'opensans-semibold';
}

.text-main {
	color: #fca704;
}

.main-content {
		display: block;
		min-height: 900px;
}

/* HOME
-------------------------------------------------- */
#contact-home {
		background: #fca704;
		display: none;
		height: 30px;
		width: 100%;
}

#home {
		background: #FFF url('img/dgE3lWVyDh8.jpg') no-repeat right top;
		background-size: cover;
		background-attachment: fixed;
		min-height: 700px;
		margin-bottom: 0px;
		vertical-align: middle;
		position: relative;
}

#home-pattern {
		/*background: url(img/pattern.png) repeat;*/
		background: rgba(0,0,0,0.3);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
}

.orange-background{
	background-color:#fca704;
	
}
.orange-background .title-section2{
	color:#fff;
}

.orange-background  .title-section2-container  .text-mute {
		color: #fff;
}

.whitesmoke-background{
	background-color:whitesmoke;
	
}
.whitesmoke-background .title-section2{
	color:#fca704;
}

.whitesmoke-background  .title-section2-container  .text-mute {
		color: #ababab;
}
.home-inner {
		height: 100%;
		padding: 50px;
		width: 100%;
}

.home-motto {
		margin: 280px 0 0 0;
}

.text-width {
		color: #FFF;
		display: block;
		font-family: 'BebasNeueRegular';
		font-size: 4.9em;
		line-height: 1.5em;
		margin-top: 0px;
		text-shadow:0px 1px 1px rgba(0,0,0,0);
}

#home-profile {
		background: whitesmoke;
		border: 1px solid #F0F0F0;
}

#mini-profile {
		font-weight: bold;
		padding: 50px 0px;
}

#mini-profile .text-main {
		margin: 0 0 15px 0;
}

#mini-photo {
		font-family: 'BebasNeueRegular';
		font-size: 2.5em;
		font-weight: bold;
		padding: 50px 30px;
}

#home-affiliate {
		background: whitesmoke;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

.rw-sentence{
	font-family: 'BebasNeueRegular';
	margin: 0;
	text-align: left;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
	color: #fca704;
	font-size: 250%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #FFF;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-moz-animation: rotateWord 18s linear infinite 0s;
	-o-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
		-webkit-animation-delay: 3s; 
	-moz-animation-delay: 3s; 
	-o-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #fff;
}
.rw-words-1 span:nth-child(3) { 
		-webkit-animation-delay: 6s; 
	-moz-animation-delay: 6s; 
	-o-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #fff; 
}
.rw-words-1 span:nth-child(4) { 
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s; 
	-o-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #fff;
}
.rw-words-1 span:nth-child(5) { 
		-webkit-animation-delay: 12s; 
	-moz-animation-delay: 12s; 
	-o-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #fff;
}
.rw-words-1 span:nth-child(6) { 
		-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s; 
	-o-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #fff;
}
@-webkit-keyframes rotateWord {
		0% { opacity: 0; }
		2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
		17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
		100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
		0% { opacity: 0; }
		2% { opacity: 0; -moz-transform: translateY(-30px); }
	5% { opacity: 1; -moz-transform: translateY(0px);}
		17% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(30px); }
	80% { opacity: 0; }
		100% { opacity: 0; }
}
@-o-keyframes rotateWord {
		0% { opacity: 0; }
		2% { opacity: 0; -o-transform: translateY(-30px); }
	5% { opacity: 1; -o-transform: translateY(0px);}
		17% { opacity: 1; -o-transform: translateY(0px); }
	20% { opacity: 0; -o-transform: translateY(30px); }
	80% { opacity: 0; }
		100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
		0% { opacity: 0; }
		2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
		17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
		100% { opacity: 0; }
}
@keyframes rotateWord {
		0% { opacity: 0; }
		2% { opacity: 0; transform: translateY(-30px); }
	5% { opacity: 1; transform: translateY(0px);}
		17% { opacity: 1; transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); }
	80% { opacity: 0; }
		100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

/****SERVICE*****/
#home-service {
		
}


.home-service-item {
	padding: 5px 5px;
	position: relative;
}

.home-service-item-icon {
		background: #fca704;
		color: #FFF;
		display: inline-block;
		float: left;
		font-size: 2.5em;
		padding: 10px;
		position: relative;
		text-align: center;
}

.home-service-item-content:after {
		content: '';
		border-left: 10px solid #fca704;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		position: absolute;
		height: 20px;
		left: -1px;
		top: 20px;
		width: 20px;
}

.home-service-item-icon i {
		vertical-align: middle;
}
.home-service-item-content {
		display: inline-block;
		text-align: justify;
		padding: 0px !important;
		margin: 0px;
}

.home-service-item-title {
		border-bottom: 2px solid #fca704;
		display: inline-block;
		font-family: 'opensans-semibold';
		font-size: 1.1em;
		margin: 10px;
		text-transform: uppercase;
}

.home-service-item-text {
		margin:10px 10px 20px 10px;
}

.home-service-img {
	background: #fca704;
	text-align: center;
	overflow: hidden;
}

.home-service-img img {
	opacity: 0.7;
	width: 100%;
	position: relative;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
}

.home-service-item:hover .home-service-img img {
	opacity: 1;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.perspective-container {  
		padding-top: 50px;

		-webkit-perspective: 3600px;
		perspective: 3600px;
}

.perspective {
		box-shadow: 10px 30px 40px rgba(0,0,0,1);
		position: relative;
		top: 100px;

		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateY(-50%) rotateX(50deg) rotateZ(35deg);
		transform: translateY(-50%) rotateX(50deg) rotateZ(35deg);
}

.no-shadow {
		border: 1px solid #F0F0F0;
		box-shadow: none;
}

.service-item {
		margin: 5px 0px;
}

.service-item-icon {
		background: #fca704;
		color: #FFF;
		font-size: 3em;
		text-align: center;
		padding: 30px;
}

.service-item-content {
		background: whitesmoke;
		position: relative;
		padding: 20px;
		text-align: justify;
}

.service-item-content:before {
		border-bottom: 10px solid whitesmoke;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		top:-20px;
}

.service-item-title {
		color: #fca704;
		font-size: 1.5em;
		padding: 0px;
}

.service-item-content > div {
		padding: 10px;
}

.layer {
		display: block;
		margin-bottom: 150px;
		min-height: 350px;
		position: relative;
		width: 100%;
}

.layer-item {
		display: block;
		min-height: 600px;
		position: absolute;
		text-align: center;
		top: 0px;
		width: 100%;
}

.layer-info {
		display: inline-block;
		z-index: 1;
}

.layer-title {
		color: #fca704;
		display: none;
		font-family: 'BebasNeueRegular';
		font-size: 1.5em;
}

.layer-content {
		background: #fca704;
		color: #FFF;
		margin: 0 10px;
		padding: 10px;
		position: relative;
}

.layer-image {
		display: inline-block;
		position: relative;
}

.layer-image img {
		border: 1px solid #ddd;
		box-shadow: 10px 10px 40px rgba(0,0,0,0.5);
}

.layer-1 > .layer-info {
		border-left: 2px solid #fca704;
		border-bottom: 2px solid #fca704;
		height: 300px;
		position: absolute;
		top: 135px;
		left: 60px;
		width: 250px;
}

.layer-1 > .layer-info:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 0px;
		bottom: -11px;
}

.layer-1 .layer-content {
		display: inline-block;
		max-width: 250px;
		position: absolute;
		left: 22px;
		top: 85px;
}

.layer-1 .layer-content:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		left: 20px;
		bottom: -11px;
}

.layer-1 > .layer-image {
		position: relative;
		top: 300px;
}

.layer-2 {
		-webkit-animation-delay: 0.5s;
}

.layer-2 > .layer-info {
		border-right: 2px solid #fca704;
		border-bottom: 2px solid #fca704;
		height: 300px;
		position: absolute;
		top:70px;
		right: 110px;
		width: 200px;
}

.layer-2 > .layer-info:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		left: 0px;
		bottom: -11px;
}

.layer-2 .layer-content {
		display: inline-block;
		max-width: 250px;
		position: absolute;
		right: -40px;
}

.layer-2 .layer-content:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 20px;
		bottom: -11px;
}

.layer-2 > .layer-image {
		position: relative;
		top: 200px;
}

.layer-3 {
		-webkit-animation-delay: 1s;
}

.layer-3 > .layer-info {
		border-right: 2px solid #fca704;
		height: 220px;
		position: absolute;
		right: 400px;
		width: 250px;
}

.layer-3 > .layer-info:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		right: -10px;
		bottom: -11px;
}

.layer-3 .layer-content {
		display: inline-block;
		max-width: 250px;
		position: absolute;
		right: -40px;
}

.layer-3 .layer-content:before {
		content: '';
		background: #fca704;
		border: 1px solid #FFF;
		border-radius: 50%;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 20px;
		bottom: -11px;
}

.layer-3 > .layer-image {
		position: relative;
		top: 100px;
}

#about-section {
		background: #fff url(../images/about-bg4.jpg) center center no-repeat;
		background-attachment: fixed;
		background-size: cover;
		border-bottom: 1px solid #F1F1F1;
		overflow: hidden;
		padding: 0px;
		min-height: 680px;
}

.about-section-content {
		background: rgba(252, 167, 4, 0.7);
		padding: 150px 30px 30px 30px;
		min-height: 680px;
}

#home-about {
		background: #fff url(../images/about-bg3.jpg) center center no-repeat;
		background-attachment: fixed;
		background-size: cover;
		border-bottom: 1px solid #F1F1F1;
		overflow: hidden;
		padding: 0px;
}

.home-about-image {
		background: rgba(0,0,0,0);
		display: block;
		min-height: 480px;
}

.home-about-image img {
		height: 100% !important;
}

.home-about-content {
		background: #fca704;
		padding: 100px 30px 30px 30px;
		min-height: 300px;
}

.home-about-content > .title{
		color: #FFF;
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		margin: 0 0 0 0;
}

.home-about-content > .content {
		color: #fff;
		font-size: 1.1em;
		padding: 0px;
		text-align: justify;
}

.zoom {
		position: relative;
		bottom: -100px;
		width: 100%;

		webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
}

.zoom:hover {
		position: relative;
		bottom: 0px;
		cursor: pointer;
}

#mlens_target_0 {
		/*Multiple box shadows to achieve the glass effect*/
		box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
		0 0 7px 7px rgba(0, 0, 0, 0.25), 
		inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
}

.about-pic {
		border: 10px solid #F0F0F0;
		border-top: 10px solid #fca704;
		border-left: 10px solid #fca704;
		border-radius: 50%;
		display: inline-block;
		height: 300px;
		overflow: hidden;
		text-align: center;
		width: 300px;

		webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
}

.about-pic:hover {
		border: 10px solid #F0F0F0;
		border-bottom: 10px solid #fca704;
		border-right: 10px solid #fca704;
}

.about-pic img {
		width: 100%;
}

.about-content {
		font-size: 1.2em;
		line-height: 2em;
		text-align: justify;
		background: #F8F8F8;
		padding: 20px;
}

#intro-about {
		background: url(img/bg21.jpg) no-repeat center center;
		background-size: cover;
		display: block;
		height: 700px;
}

#home-portfolio {
		
}

.partner-list {
		text-align: center;
}

.partner-list li {
		display: inline;
		margin: 10px;
}

.partner-list li img {
		height: 50px;
}

.grayscale {
		opacity: 0.7;
		filter: grayscale(100%) !important;
		-webkit-filter: grayscale(100%) !important;
		-moz-filter: grayscale(100%) !important;
		-ms-filter: grayscale(100%) !important;
		-o-filter: grayscale(100%) !important;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		position: relative;
}

.grayscale:hover {
		opacity: 1;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		filter: grayscale(0%) !important;
		-webkit-filter: grayscale(0%) !important;
		-moz-filter: grayscale(0%) !important;
		-ms-filter: grayscale(0%) !important;
		-o-filter: grayscale(0%) !important;
}

.grid {
		position: relative;
		margin: 0 auto;
		padding: 1em 0 4em;
		max-width: 1000px;
		list-style: none;
		text-align: center;
}

/* Common style */
.grid figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		min-width: 320px;
		max-width: 480px;
		max-height: 360px;
		width: 48%;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
}

.grid figure img {
		position: relative;
		display: block;
		width: 100%;
		opacity: 0.8;
}

.grid figure figcaption {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
		pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
}

.grid figure h2 {
		word-spacing: -0.15em;
		font-weight: 300;
}

.grid figure h2 span {
		font-weight: 800;
}

.grid figure h2,
.grid figure p {
		margin: 0;
}

.grid figure p {
		letter-spacing: 1px;
		font-size: 68.5%;
}

@media (max-width: 696px) {
	.grid figure {
		width:100%;
		display: block;
		margin: 20px auto;
		float: none;
		overflow: hidden;
		min-width: 320px;
		max-width: 480px;
		max-height: 360px;
		background: #3085a3;
		cursor: pointer;
	}
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
		top: auto;
		bottom: 0;
		padding: 1em;
		height: 3.75em;
		background: #F7F7F7;
		color: #3c4a50;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
}

figure.effect-zoe img {
		opacity: 0.7;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
}

figure.effect-zoe:hover img {
		opacity: 0.5;
		-webkit-transform: scale(1);
		transform: scale(1);
} 

figure.effect-zoe h2 {
		float: left;
}

figure.effect-zoe p.icon-links a {
		float: right;
		color: #3c4a50;
		font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
		color: #252d31;
}

figure.effect-zoe p.description {
		position: absolute;
		bottom: 8em;
		padding: 2em;
		color: #fff;
		text-transform: none;
		font-size: 90%;
		opacity: 0;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,200%,0);
		transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
		display: inline-block;
		padding: 8px 10px;
		font-family: 'feathericons';
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
		content: '\e000';
}

.icon-paper-clip::before {
		content: '\e001';
}

.icon-heart::before {
		content: '\e024';
}

figure.effect-zoe h2 {
		display: inline-block;
}

figure.effect-zoe:hover p.description {
		background: rgba(252, 167, 4, 0.5);
		opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
}

#blog {
		background: #F8F8F8;
}

.blog-item {    
		background: #FFF;
		margin-bottom: 30px;
}

.blog-item:hover .blog-picture img {
		opacity: 1;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
}

.blog-share {
		left: -80px;
		position: absolute;
		top: 50px;
		width: 50px;
		display: none;
}

.blog-share:after {

}

.blog-share li {
		list-style: none;
		margin-top: -1px;
}

.blog-share li a {
		background: #fff;
		border: 1px solid #fca704;
		color: #fca704;
		display: inline-block;
		font-size: 2em;
		line-height: 1.6em;
		height: 50px;
		width: 50px;
		text-align: center;
}

.blog-share li a:hover {
		background: #fca704 !important;
		border: 1px solid #fca704 !important;
		color: #FFF !important;

		webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
}

.blog-share li a i {
		vertical-align: middle;
}

.blog-picture-container {
		position: relative;
}

.blog-picture {
		height: 300px;
		margin: 0 0 30px 0;
		overflow: hidden;
		position: relative;
		width: 100%;
}

.blog-picture-full {
		height: 100%;
}

.blog-picture img {
		opacity: 0.8;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		width: 100%;
}

.blog-category {
		background: #fca704;
		border: 4px solid #FFF;
		color: #FFF;
		font-size: 2.4em;
		height: 60px;
		line-height: 1.3em;
		padding: 0px;
		position: absolute;
		bottom: -30px;
		left: 30px;
		text-align: center;
		width: 60px;
}

.blog-category img {
		margin: 0px;
		width: 100%;
}

.blog-title {
		color: #fca704;
		display: block;
		font-family: 'BebasNeueRegular';
		font-size: 2.5em;
}

.blog-detail {
		padding: 30px;
}

.blog-detail-item {
		display: inline-block;
		font-size: 0.9em;
		margin-right: 30px;
}

.blog-detail-item i {
		color: #fca704;
}

.blog-category i {
		vertical-align: middle;
}

.blog-content {
		margin-top: 20px;
}

.blog-tag {
		padding: 20px 0;
}

.blog-link {
		display: block;
		height: 40px;
}

.blog-link i {

}

.blog-link a {
		border:1px solid #fca704;
		border-radius: 30px;
		color: #fca704;
		height: 100%;
		padding: 8px 10px 10px 10px;
}

.blog-link a:hover {
		background: #fca704 !important;
		color: #fff;
}

.blog-sidebar-box {

		margin-bottom: 30px;
}



.blog-sidebar .title {
		background: #F0F0F0;
		color: #666e70;
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		height: 55px;
}

.blog-sidebar .title > span {
		background: #fca704;
		color: whitesmoke;
		display: inline-block;
		height: 55px;
		line-height: 1.5em;
		margin: 0 10px 0 0;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 55px;
}

.blog-sidebar .title > span:before {
		border-left:27px solid #fcda01;
		border-bottom:27px solid #fcda01;
		border-top:27px solid transparent;
		border-right:27px solid transparent;
		content: '';
		height: 55px;
		left: 0px;
		position: absolute;
		top: 0px;
		width: 55px;
}

.blog-sidebar-box ul {
		padding: 10px 0;
}

.blog-sidebar-box ul li {
		border-bottom: 1px dashed #eee;
		display: block;
		list-style: none;
		margin: 5px 0;
		min-height: 40px;
		padding-bottom: 5px;
		width: 100%;
}

.blog-sidebar-img {
		background: whitesmoke;
		display: inline-block;
		float: left;
		height: 60px;
		overflow: hidden;
		width: 60px;
}

.blog-sidebar-img img {
		width: 65px;
}

.blog-sidebar-text a {
		color: #676a6c;
		display: inline-block;
		font-size: 13px;
		padding: 0 0px 0 10px;
}

.blog-sidebar-text a:hover {
		color: #fca704;
}

.blog-sidebar-text a span {
		color: #fca704;
}

.blog-author {
		background: #fff;
		border-top: 2px solid #fca704;
		margin: 0 0 30px 0;
		min-height: 140px;
		padding: 20px;
}

.blog-author-img {
		border: 4px solid #fca704;
		border-radius: 50%;
		height: 100px;
		overflow: hidden;
		width: 100px;
}

.blog-author-img img {
		width: 100px;
}

.blog-author-content {
		display: block;
		height: 100%;
		padding: 0 20px;
}

.blog-related .title {
		color: #fca704;
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		margin: 0 0 10px 0;
}

.blog-item-masonry {
		background: #fff;
		display: block;
		min-height: 300px;
		overflow: hidden;
}

.blog-item-masonry > .title {
		font-size: 1.2em;
		padding: 10px;
		text-align: center;
}

.blog-item-masonry > .title a {
		color: #676a6c;
}

.blog-item-masonry > .title a:hover {
		color: #fca704;
}

.blog-item-masonry > .picture {
		height: 150px;
		overflow: hidden;
}

.blog-item-masonry > .picture > img {
		width: 100%;
}

.comment-list {
		margin: 30px 0;
}

.comment-list .title {
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		margin: 0 0 20px 0;
		color: #fca704;
}

.comment-item {
		margin: 20px 0;
}

.comment-avatar {
		height: 100px;
		padding: 10px;
		width: 100px;
}

.comment-avatar img {
		border: 4px solid #fca704;
		border-radius: 50%;
		display: inline-block;
		height: 80px;
		overflow: hidden;
		width: 80px;
		z-index: 1;
}

.comment-content {
		background: #FFF;
		display: block;
		min-height: 100px;
		padding: 10px;
		width: 100%;
		z-index: 0;
}

.comment-content:before {
		border-right: 20px solid #fff;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		content: '';
		height: 40px;
		position: absolute;
		left: -20px;
		top: 25px;
		width: 40px;
}

.comment-data {
		background: #F0F0F0;
		display: block;
		height: 30px;
		width: 100%;
}

.comment-data-item div {
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
		display: inline-block;
		height: 30px;
		margin: 0 5px 0 0;
		padding: 5px 10px;
}

.comment-data-item span {
		font-size: 9px;
		margin: 0 10px 0 0;
}

.comment-data a { 
		margin: 3px;
}

.comment-form {
		background: #FFF;
		padding: 20px;
		margin: 20px 0 0 0;
}

#form-comment {
		
}

#form-comment label {
		color: #ccc;
		display: none;
		text-transform: uppercase;
}

#form-comment .input-group-addon {
		background: transparent;
		border-color: #fca704;
		border-radius: 0px;
		color: #fca704;
}

#form-comment input, #form-comment textarea {
		background: transparent;
		border: 1px solid #fca704;
		border-radius: 0px;
		box-shadow: none;
		color: #fca704;
}

#form-comment textarea {
		min-height: 100px;
}

.tag-color {
		background: #fca704;
		border-radius: 2px;
		color: #FFF;
		padding: 3px 8px;
}

.tag-color:hover {
		background: #676a6c !important;
		color: #fff;
}

.search-container {
		background: #F0F0F0;
		display: inline-block;
		margin: 10px 0 0 0;
		padding: 20px;
		width: 100%;

}

.pagination li a {
		color: #fca704;
}

.pagination li.active span {
		background: #fca704 !important;
		border: 1px solid #fca704;
}

footer {  
		min-height: 400px;
}

#footer-top {
		background: #21252b;
		background-size: 700px; 
		border-bottom: 1px solid #1a1e22;
		min-height: 350px;
		padding: 40px 0;
}

#footer-bottom {
		background: #1e2227;
		border-top: 1px solid #2e343a; 
		border-bottom: 3px solid #fca704;
		min-height: 60px;
}

.footer-title {
		color: #FFF;
		display: inline-block;
		font-size: 2.5em;
		font-family: 'BebasNeueRegular';
		margin:25px 0;
		position: relative;
}

.footer-title span {
		border-bottom: 4px solid #fca704;
		font-size: 0.5em;
		vertical-align: top;
		line-height: 0.7em;
		padding: 0px;
		position: relative;
		top: -2px;
		right: 0px;
}

#footer-address {
		color: #fff !important;
		padding: 0px;
}

#footer-address i {
		color: #fff;
}

#footer-address > div {
		margin: 10px 0;
		padding: 0px;
}

.footer-link {
	color: #fff;
	padding: 5px 0;
}

.footer-link a {
	color: #fff;
}

.footer-link a:hover {
	color: #fca704;
}

#form-contact {
		
}

#form-contact label {
		color: #fff;
		display: none;
		text-transform: uppercase;
}

#form-contact .input-group-addon {
		background: #1b1d21;
		border: 1px solid #1b1d21;
		border-right: none;
		color: #fff;
}

#form-contact input[type="text"], #form-contact textarea {
		background: #1b1d21;
		border: 1px solid #1b1d21;
		border-left: none;
		box-shadow: none;
		color: #fca704;
}

#form-contact textarea {
		border-left: 1px solid #1b1d21;
		min-height: 100px;
}

#form-contact2 {
		
}

#form-contact2 label {
		color: #fff;
		display: none;
		text-transform: uppercase;
}

#form-contact2 .input-group-addon {
		background: transparent;
		border: 1px solid #fcda01;
		border-right: none;
		color: #fcda01;
}

#form-contact2 input[type="text"], #form-contact2 textarea {
		background: transparent;
		border: 1px solid #fcda01;
		border-left: none;
		box-shadow: none;
		color: #fca704;
}

#form-contact2 textarea {
		border-left: 1px solid #fcda01;
		min-height: 100px;
}

.totop {
		position: fixed;
		bottom: 15px;
		right: 15px;
}

.tobotom {
		position: fixed;
		bottom: 15px;
		right: 15px;
}


.pricing-table {
	margin: 20px 0;
		text-align: center;
}
.pricing-table .heading{
		color: #9C9E9F;
		text-transform: uppercase;
		font-size: 1.3rem;
		margin-bottom: 4rem;
}
.block{
		width: 100%;    
		margin: 0;
		overflow: hidden;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;  
		padding-top: 0px !important;

		 webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
/*    border: 1px solid red;*/
}

.block:hover {
		box-shadow: 0 1px 20px rgba(0,0,0,0.5);
}
/*Shared properties*/
.title,.pt-footer{
		color: #FEFEFE;
		text-transform: capitalize;
		line-height: 2.5;
		position: relative;
		margin: 0px !important;
}
.content{
		position: relative;
		color: #FEFEFE;
		padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
		top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0); 
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
		position: relative;
		display: inline-block;
		margin-bottom: 0.625rem;
}

.price sup{
		font-size: 1.5rem;    
		position: absolute;    
		top: 12px;
		left: -12px;
}
.hint{
		font-family: 'BebasNeueRegular';
		font-size: 2rem;
}
.features{
		list-style-type: none;    
		background: #FFFFFF;
		text-align: left;
		color: #9C9C9C;
		padding:30px 10%;
}
.features li{
	border-bottom: 1px solid #F8F8F8;
	font-weight: bold;
	padding:15px 0;
	width: 100%;
}
.features li i {
	color: #fca704;
	font-size: 1.5em;
	 padding-right: 1rem; 
}
.pt-footer{
		text-transform: capitalize;
		font-size: 2em;
}

.pt-footer a {
	background:  #fca704;
	color: #fff;
	padding: 10px 20px;
} 

/*BUSINESS*/
.business .title{
		background: #21252b;
		font-family: 'BebasNeueRegular';
}
.business .content{
	background: #fca704;
}
.business .pt-footer div {
	background: #21252b;
	color: #fff;
	font-family: 'BebasNeueRegular';
	padding: 10px;
}
.business .pt-footer div span {
	display: block;
	font-size: 0.5em;
	line-height: 0px;
}
.business .pt-footer a:hover {
	background: #fca704 !important;
	color: #fff !important;
}
.business .content:after{ 
	border-top-color: #fca704;  
}
.business .pt-footer:after {  
	border-top-color: #FFFFFF;  
}

.box-ads-container {

}

.box-ads {
	background: #fca704;
	color: #FFF;
	margin: 30px 0;
	min-height: 150px;
	padding: 20px;
	width: 100%;
}

.box-ads-title {
	font-size: 1.7em;
	font-weight: bold;
	margin: 10px 0;
}

.box-ads-content {
	font-size: 5.5em;
	line-height: 1em;
	font-family: 'BebasNeueRegular';
	font-weight: bold;
}


.text-dark {
	color: #21252b;
}

#host-about {
	background: #fff url(img/25x.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 10px 0 30px 0;
	overflow: hidden;
	padding: 0px;
}

.host-about-image {
		background: rgba(0,0,0,0);
		display: block;
		min-height: 500px;
}

.host-about-image img {
		height: 100% !important;
}

.host-about-content {
	background: #f8f8f8;
	padding: 30px 30px 30px 30px;
	min-height: 100px;
}

.host-about-content > .title{
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		margin: 0 0 0 0;
}

.host-about-content > .content {
	font-size: 1.1em;
	padding: 0px;
	text-align: justify;
	color: #666e70;
}

.float-right {
	float: right;
}

.hexagon {
	position: relative;
	width: 150px; 
	height: 86.60px;
	margin: 100px auto 50px;
	background-size: auto 173.2051px;
	background-position: center;
}

.hexTop,
.hexBottom {
	position: absolute;
	z-index: 1;
	width: 106.07px;
	height: 106.07px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 21.97px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
	content: "";
	position: absolute;
	width: 150.0000px;
	height: 86.60254037844388px;
	-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.hexTop {
 	top: -53.0330px;
}

.hexTop:after {
 	background-position: center top;
}

.hexBottom {
 	bottom: -53.0330px;
}

.hexBottom:after {
 	background-position: center bottom;
}

.hexagon:after {
	content: "";
	position: absolute;
	top: 0.0000px;
	left: 0;
	width: 150.0000px;
	height: 86.6025px;
	z-index: 2;
	background: inherit;
}

.team-name {
	position: absolute;
	z-index: 4;
	color: #fff;
	background: rgba(252, 167, 4, 1);
	padding: 20px 0;
	height: 100%;
	width: 100%;

	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.team-position {
	font-weight: 2.5em;
}

.teamTop,
.teamBottom {
	position: absolute;
	z-index: -1;
	width: 106.07px;
	height: 106.07px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 21.97px;
}

/*counter transform the bg image on the caps*/
.teamTop:after,
.teamBottom:after {
	content: "";
	position: absolute;
	width: 150.0000px;
	height: 86.60254037844388px;
	-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.teamTop {
 	top: -53.0330px;
}

.teamTop:after {
 	background-position: center top;
}

.teamBottom {
 	bottom: -53.0330px;
}

.teamBottom:after {
 	background-position: center bottom;
}

.hexagon:hover .team-name {
	cursor: pointer;
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}

#map-section {
	width: 100%;
	height: 400px;
}

#cloud-container {
	position: absolute;
	bottom: -220px;

	z-index: 0;

	-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
}

#cloud-container:hover {
	bottom: -200px;
}

#cloud {
	width: 300px; height: 120px;
	
	background: #21252b;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #21252b;
	z-index: -1
}

#cloud:after {
	width: 100px; height: 100px;
	top: -40px; left: 120px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 150px; height: 150px;
	top: -60px; left: 30px;

	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

@media (max-width: 768px) {
	#navigation2 {
		background: #FFF;
		border-radius: 4px;
		margin-right: 0px;
		max-height: 50px;
		overflow: hidden;

		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}

	#navigation2:hover {
		max-height: 500px;
	}

	#navigation2 li {
		padding: 5px 10px;
		border: 1px solid #f0f0f0;
		margin-top: 0px;
	}

	#nav-control {
		text-align: right;
		border: 0px solid #f0f0f0 !important;
		padding: 0px !important;
	}

	#nav-control a {
		border: 1px solid #f0f0f0;
		display: inline-block;
		height: 50px;
		font-size: 2em !important;
	}
}

.process {
	margin: 30px;
}

.process-item {
	margin: 10px 0;
}

.process-icon {
	text-align: center;
	line-height: 1em;
	width:128px;
	height:128px;
	display:block;
	margin:auto;
	fill:#FCA704;
}

.process-icon i {
	font-size: 15em;
	text-align: center;
	color: #fca704;
}

.process-title {
	font-size: 2em;
	font-family: 'BebasNeueRegular';
	line-height: 1em;
	padding: 10px 0;
	text-align: center;
	min-height: 70px;
}

.process-content {
	font-size: 1em;
	line-height: 1.5em;
	padding: 10px 0;
	text-align: center;
}

.my-hexa {
	float: left;
	margin-bottom: 1px;
	margin-left: 29.06976744px;
	display: block;
	height: 200px;
	width: 116.27906976px;
	position: relative;
	background: transparent;
	line-height: 0px;
}

.my-hexa:before {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: transparent;
	-webkit-transform: rotateZ(-60deg);
	-moz-transform: rotateZ(-60deg);
	-moz-transform-style: preserve-3d;
	z-index: -1;
}

.my-hexa:after {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: transparent;
	-webkit-transform: rotateZ(60deg);
	-moz-transform: rotateZ(60deg);
	-moz-transform-style: preserve-3d;
	position: absolute;
	top: 0;
	z-index: -1;
}

.my-hexa .front i {
	color: #fff;
	font-size: 10em;
	position: absolute;
	top:80px;
	left: 0px;
	margin: 0px;
}

.my-hexa .back i {
	color: #fff;
	font-size: 10em;
	position: absolute;
	top:0px;
}

.my-hexa:hover .front {
	-webkit-transform: translateZ(-1px) rotateY(180deg);
	-moz-transform: translateZ(-1px) rotateY(180deg);
	z-index: 800;
}
.my-hexa:hover .back {
	-webkit-transform: translateZ(1px) rotateY(0deg);
	-moz-transform: translateZ(1px) rotateY(0deg);
	z-index: 900;
}
.my-hexa .front {
	display: block;
	height: 200px;
	width: 116.27906976px;
	position: relative;
	background: #dc276c;
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	transition: all 600ms;
	position: absolute;
	top: 0;
	-webkit-transform: translateZ(1px) rotateY(0deg);
	-moz-transform: translateZ(1px) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	/*-webkit-backface-visibility: hidden;*/
	/*-moz-backface-visibility: hidden;*/
	z-index: 900;
}
.my-hexa .front:before {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: #dc276c;
	-webkit-transform: rotateZ(-60deg);
	-moz-transform: rotateZ(-60deg);
	-moz-transform-style: preserve-3d;
	z-index: -1;
}
.my-hexa .front:after {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: #dc276c;
	-webkit-transform: rotateZ(60deg);
	-moz-transform: rotateZ(60deg);
	-moz-transform-style: preserve-3d;
	position: absolute;
	top: 0;
	z-index: -1;
}
.my-hexa .back {
	display: block;
	height: 200px;
	width: 116.27906976px;
	position: relative;
	background: #ffb533;
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	transition: all 600ms;
	position: absolute;
	top: 0;
	-webkit-transform: translateZ(-1px) rotateY(-180deg);
	-moz-transform: translateZ(-1px) rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	z-index: 800;
	opacity: 0.7;
}
.my-hexa .back:before {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: #ffb533;
	-webkit-transform: rotateZ(-60deg);
	-moz-transform: rotateZ(-60deg);
	-moz-transform-style: preserve-3d;
}
.my-hexa .back:after {
	content: "";
	display: block;
	width: 116.27906976px;
	height: 200px;
	background: #ffb533;
	-webkit-transform: rotateZ(60deg);
	-moz-transform: rotateZ(60deg);
	-moz-transform-style: preserve-3d;
	position: absolute;
	top: 0;
}
.my-hexa.top {
 	top: -100px;
}
